<mat-sidenav-container class="example-container">
    <mat-sidenav class="lab-sidebar" mode="side" opened>
        <h3>UCSC Labs </h3>

        <mat-nav-list
            *ngFor="let lab of labs"
            [class.selected]="lab === selectedLab"
            (click)="onSelect(lab)">
            <span >{{lab.labName}}</span>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <div *ngIf="selectedLab">

            <h4>{{ selectedLab.labName | uppercase }} - Lab Reservations </h4>

                  <div class="container">
                      <!-- <ul class="nav nav-pills">
                          <li role="presentation" class="active"><a href="#">Home</a></li>
                          <li role="presentation"><a href="#">Make a reservation</a></li>
                      </ul> -->

                      <div class="main-container">
                        <div class="row">
                          <div class="col-md-5">
                              <form class="form-inline">
                                  <app-date-picker></app-date-picker>
                                  <button mat-raised-button >Search</button>
                              </form>
                              <hr/>
                          </div>
                          <div class="col-md-5">
                              <!-- <button mat-raised-button (click)="openDialog()">New Reservation</button> &nbsp;&nbsp;
                              <button mat-raised-button >View my Reservations</button> -->
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <app-lab-info [labId]="selectedLab.labCode"></app-lab-info>
                          </div>
                          <!-- <div class="vl" style="border-left: 6px solid green;
                          height: 500px;position: absolute;right: 50%;"></div> -->
                          <div class="col-md-6">
                              <app-new-reservation-form></app-new-reservation-form>
                          </div>
                        </div>
                      </div>
                  </div>


        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

