.lab-sidebar{
    background-color:#e0ebeb;
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 13em;
    padding-top: 25px;
    text-align: center;
}
.example-container {
  padding-top: 10px;
    bottom: 0;
    height: 800px;
    left: 0;
    right: 0;
    background: white;
  }

.selected {
    background-color:rgb(134, 180, 250) !important;
    color: rgb(19, 19, 20);
  }

  .mat-nav-list{
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(199, 214, 226);
    margin: .5em;
    padding: .3em 0;
    padding-bottom: .3em 0;
    height: 2em;
    border-radius: 4px;
  }
  .mat-nav-list .selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .mat-nav-list:hover {
    color: rgb(41, 134, 180);
    background-color: rgb(134, 180, 250);
    left: .1em;
  }
  .mat-nav-list .text {
    position: absolute;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    top: -3px;
  }
  .mat-nav-list .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 1em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -60px;
    top: -4px;
    height: 1.8em;
    /* margin-right: .8em; */
    border-radius: 4px 0 0 4px;
  }

  .main-container{
    padding-top: 15px;
    padding-left: 0%;

  }

  .main-page{
    background-image: url("../../../assets/images/ucsc.jpg") ;
    /* opacity: .4; */
  }
