<app-navbar></app-navbar>
<mat-sidenav-container class="example-container">
    <mat-sidenav class="lab-sidebar" mode="side" opened>
        <h4>UCSC Labs </h4>
        <br>
        <mat-nav-list
            *ngFor="let lab of labs"
            [class.selected]="lab === selectedLab"
            (click)="onSelect(lab)">
            <span >{{lab.labName}}</span><br><br>
        </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

        <div *ngIf="!selectedLab">
            <h3 style="text-align: center">Welcome to Lab Reservation System</h3>
            <p style="text-align: center">University of Colombo School of Computing</p>

            <div class="main-page"></div>
        </div>


        <div *ngIf="selectedLab">

            <h4 style="text-align: center">{{ selectedLab.labName | uppercase }} - Lab Reservations </h4>

                  <div class="container">
                      <!-- <ul class="nav nav-pills">
                          <li role="presentation" class="active"><a href="#">Home</a></li>
                          <li role="presentation"><a href="#">Make a reservation</a></li>
                      </ul> -->

                      <div class="main-container">
                        <div class="row">
                          <div class="col-md-5">
                              <form class="form-inline">
                                  <app-date-picker (dateSelected)='OnDateSelected($event)'></app-date-picker>
                                  <!-- <button mat-raised-button >Search</button> -->
                                  <button type="button" class="btn btn-primary btn-md" (click)="searchByDate()">Search</button>
                              </form>
                              <hr/>
                          </div>
                          <div class="col-md-5">
                              <!-- <button mat-raised-button (click)="openDialog()">New Reservation</button> &nbsp;&nbsp;
                              <button mat-raised-button >View my Reservations</button> -->
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <app-lab-info [searchResults]="searchedReservations"></app-lab-info>
                          </div>
                          <!-- <div class="vl" style="border-left: 6px solid green;
                          height: 500px;position: absolute;right: 50%;"></div> -->
                          <div class="col-md-6">
                              <app-new-reservation-form [labCode]="selectedLab.labCode"></app-new-reservation-form>
                          </div>
                        </div>
                      </div>
                  </div>


        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer>

