    <h5><b>Reserved Time Slots</b></h5>
    <mat-accordion *ngFor="let reserve of searchResults">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{reserve.startHour}}.{{reserve.startMinute}} - {{reserve.endHour}}.{{reserve.endMinute}}
            </mat-panel-title>
            <mat-panel-description>
              {{reserve.reservePurpose}}
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>




