    <h6 style="text-align: center">Reserved Time Slots</h6>
    <mat-accordion *ngFor="let reserve of searchResults">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{reserve.reserveDate}} &nbsp;
              <b>{{reserve.startHour}}.{{reserve.startMinute}} - {{reserve.endHour}}.{{reserve.endMinute}}</b>
            </mat-panel-title>
            <mat-panel-description>
              {{reserve.reservePurpose}}
            </mat-panel-description>
          </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>




